*.pyc
doc/*.aux
doc/*.log
doc/*.out
grassmann/testing.log
grassmann/test/inputs_outputs/*/*min_dist*
src/wave_functions/strings_rev_lexical_order.c
src/wave_functions/strings_rev_lexical_order.cpython-37m-x86_64-linux-gnu.so
src/wave_functions/strings_rev_lexical_order.html