grassmann.egg-info
build
*.pyc
testing.log
doc/*.aux
doc/*.log
doc/*.out
doc/grassmann_doc.toc
doc/grassmann_doc.pdf
grassmann/test/inputs_outputs/*/*min_dist*
*/*/*.c
*/*/*.so
*/*/*.html
*/*/*~
*/*/.nfs*
lib/recipes_2.dat
lib/recipes_3.dat
lib/recipes_5.dat
lib/recipes_4.dat
lib/recipes_6.dat
lib/recipes_7.dat
lib/recipes_8.dat
lib/README
